*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'roboto' ,sans-serif;
  min-width: 1024px;
  max-width: 1400px;
  background: #fafafa;
}

.container{
  display: flex;
  background: #fff;
  height: 100vh;
  width: 100%;
}
.sidebar{
  display: flex;
  flex-direction: column;
  flex: 1.5;
  color: #111;
  border-right: 1px solid #111;
  padding: 20px;
}
.rightside{
  display: flex;
  flex: 8;
}
ul li{
  list-style: none;
}
.smoll-logo{
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.logo span{
  font-size: 35px;
  font-weight: 500;
  font-family: 'billabong', sans-serif;
  cursor: pointer;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 60px 0px;
}
.icons{
  font-size: 50%;
}
li span{
  font-size: 18px;
}
header{
  width: 60%;
  margin: auto;
  transform: translateY(50px);
  padding: 50px 0;
}
.perfil-container{
  display: flex;
}
.perfil-container img{
  height: 150%;
  width: 150;
  border-radius: 50%;
  cursor: pointer;
}
.contenedor-cabezera{
  margin-left: 100px;
}
.cabezera1{
  width: 350px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  
}
.cabezera1 h1{
  color: #616161;
  font-weight: 100;
  font-size: 26px;
}
.cabezera1 button{
  width: 100px;
  height: 30px;
  background-color: #dbdbdb;
  border: solid #dbdbdb 1px;
  cursor: pointer;
  border-radius: 13%;
  
}
.cabezera1 svg{
  cursor: pointer;
}
.cabezera2{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 15px;
}
.cabezera3 h2, 
.cabezera3 .p-estado{
  font-size: 16px;
  margin-bottom: 5px;
}
.historias{
  width: 100px;
  margin-top: 50px;
  transform: translateX(-45px);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.historias_diego img{
  height: 80px;
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
}
.linea{
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #dbdbdb;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 2%;
}
.main-nav a{
  color: #333;
  text-decoration: none;
  font-size: 13px;
}
main{
  width: 70%;
  margin: auto;
  margin-top: 60px;
}
.mainCont_grid{
  display: grid;
  grid-template-columns: repeat(3,32%);
  grid-template-rows: repeat(5,auto);
  gap: 2%;
  height: auto;
}
.mainCont_grid div > img{
  width: 100%;
  cursor: pointer;
}